@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

#dashBoardDiv {
    margin-right: 10%;
    margin-left: 10%;
    margin-top:3%;
}
.lisääMainosDiv {
    width: 100%;
    margin-top: 150px;
}


#dashBoardDiv h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.bottomLine1 {
    height: 1px;
    background-color: #E0E0E0;
    width: 100%;
}
#dashBoardDiv ul {
    display: inline-flex;
    flex-wrap: wrap;
    width:100%;
}

#dashBoardDiv ul li {
    list-style: none;
    width: 100%;

    min-height: 500px;
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    margin:30px;

}
.rightImg{
    float: right;
    width: 48%;
    margin-bottom: 0px;
    height: 500px;
}

.rightImg img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}

.leftText {
    float: left;
    width: 49%;
    word-wrap: break-word;
    min-height: 490px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.leftText h1 {
        font-size: 28px;
        text-align: left;
        margin-left: 20px;
        font-family: 'Montserrat', sans-serif;
}

.leftTextDivP {
    text-align: left;
    margin: 20px;
    max-height: 300px;
    max-height: 20ch;
    overflow: hidden;
    font-size: 20px;
    white-space: pre-wrap;
    line-height: 30px;
}

.leftText a {
        float: left;
        margin-left: 20px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        text-decoration: none;
        color: #00A79D;
}
.yhteystiedot {
   
    color: #00A79D;
    
}
.leftText Button{
    margin:20px;
}
.leftText a:hover {
        text-decoration: underline;
}
/*mainoksen teksit*/
#mainoksenOtsikko{
}
#mainoksenKuvaus{
}
#mainosKuva{
    display:none;
}


#uploadInput {
    margin:auto;
    margin:20px;
    float:right;
}
#toolDiv{
    
}
#toolDiv Button{
    float:left;
    margin:20px;
  
}
#mainoksesi {
   
    width: 100%;
    margin-top: 150px;

}
#mainoksesi ul {
    display: inline-flex;
    flex-wrap: wrap;
}

#mainoksesi ul li {
    list-style: none;
    width: 100%;
    min-height: 500px;
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    margin: 30px;
}
#mainoksesi ul p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    word-wrap: anywhere;
}
#mainoksesi ul li ul div{
    display:block;
}

/*Mainos buttonit*/
#editMainosBtn {
    transform: translateY(-40px);
    float:right;
    margin-right:20px;
}
#deleteMainosBtn {
    margin-bottom: 0px;
    float: right;
    transform: translateY(-40px);
}
#deleteMainosBtn:hover {
    transform: translateY(-40px) scale(1.01);
}
#editMainosBtn:hover {
    transform: translateY(-40px) scale(1.01);
}
#julkaiseMainosBtn:hover {
    transform: translateY(-40px) scale(1.01);
}
#julkaiseMainosBtn {
    margin-bottom: 0px;
    float: left;
    transform: translateY(-40px);
    margin-right:25px;
}
#mainosAlert{
    width:30%;
    margin:auto;
    font-size:20px;
}
/*Tapahtumat*/
#lisääTapahtumaDiv {
    width: 100%;
    margin-top: 150px;
}

#lisääTapahtumaDiv li{

    list-style: none;
    width: 30%;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0px 0px 2px gray;
    margin-bottom:30px;
    margin-top:30px;

}
#lisääTapahtumaDiv Button{
    margin:20px;
}
#tapahtumat {
    width: 100%;
    margin-top: 150px;
}
.tapahtumaKuva {
    width: 100%;
    border-radius: 8px;
}
#tapahtumat {
    width: 100%;
    margin-top: 150px;
}
#tapahtumat ul {
    width:100%;

}
/*Tapahtuma buttonit*/

#julkaiseTapahtumaBtn{
    margin:20px;
    margin-left:0px;
}
#editTapahtumaBtn {
    margin:20px;
}
#deleteTapahtumaBtn {
    margin: 20px;
    margin-bottom:10px;
    margin-left: 0px;
}
#tapahtumat ul li{
    list-style: none;
    width: 30%;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0px 0px 2px gray;
    margin-bottom:30px;
    margin-top:30px;

}
#tapahtumat ul li ul{
    display:block;
    width:250px;
    margin:auto;
    
}
/*tapahtuman otsikko*/
#tapahtumat ul li h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 35px;
        word-wrap:anywhere;

    margin-top: 5px;
    text-align:center;
}

#tapahtumat ul p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    word-wrap:anywhere;
}

@media only screen and (max-width: 600px) {
    #dashBoardDiv {
        margin-top:20%;
        margin-left:5px;
    }
    /*tapahtumat*/
    #lisääTapahtumaDiv{
        margin-top:55%;
    }

    #lisääTapahtumaDiv li {
        width: 100%;
        margin:25px;

    }
    
    #tapahtumat ul li{
        width:100%;
    }
    #tapahtumat ul {
        margin:0px;
        margin-left:-5px;
        margin-top:50px;
    }
    #tapahtumat h1{
        margin-top:250px;
    } 
    /*mainokset*/
    #dashBoardDiv ul li {
        width: 95%;
        margin: 0px;
        margin-bottom: 50px;
    }
    
   
    #mainoksesi ul li {
        width: 95%;
        margin:25px;
        margin-bottom:50px;

    }


    .leftText {
        width: auto;
        min-height: 300px;
        height:auto;
    }
    .leftText a{
        position:inherit;
        font-size:20px;
    }
    .leftText div h1{
        margin-top:25px !important;
        
    }
   
    .rightImg{
        width:100%;
    }
   
   
   
    .rightImg div{
        display:flex;
    }
    #mainoksesi ul {
        margin-left: -30px;
    }
    #mainoksesi h1 {
        margin-top: 250px;
    }
    /*mainos buttonit*/
    #editMainosBtn {
        float: right;
        margin-right: 0px;
        z-index:1;
    }

    #deleteMainosBtn {
        margin-bottom: 0px;
        float: right;
        margin-right: 0px;
        z-index: 1;
    }


    #julkaiseMainosBtn {
        margin-bottom: 0px;
        float: right;
        margin-right: 0px;
        z-index: 1;
    }

    #deleteMainosBtn:hover {
        transform: translateY(-40px) scale(1.01);
    }

    #editMainosBtn:hover {
        transform: translateY(-40px) scale(1.01);
    }

    #julkaiseMainosBtn:hover {
        transform: translateY(-40px) scale(1.01);
    }
}



  