

#mainDiv{
    text-align:center;
    margin-left:5%;
    margin-right:5%;
}
#headerImg {
    width: 100%;
    position: relative;
    height: 600px;
}
#headerImg img{
    border-radius:5px;
    width:100%;
    height:100%;
}

@media only screen and (max-width: 600px) {

    #mainDiv{
        margin:0px;

    }
}